/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0 0 0 0;
    font-family: "Lato";
    height: 100%;
}

.wrapper {
    .padding: 0;
    height: 100%;
}

table {
    border-collapse: none;
    border-spacing: 0px;
    height: 100%;
}

tbody {
    height: 100%;
}

tr {
    height: 100%;
}

.headdiv {
    height: 50px;
    width: 100%;
    border: 1px solid #888888;
    background-color: #888888;
}

.headtext {
    font-family: "Poiret One";
    font-size: 36px;
    padding: 0;
    margin-top: 14px;
    margin-bottom: 0;
    margin-right: 50px;
    text-align: right;
    color: #6666cc;
}

.headsubtext {
    margin-top: 0;
    font-size: 14px;
}


.bodytd {
    vertical-align: top;
    margin: 0;
    padding: 0;
    height: 100%;
}

#maintd {
    width: 100%;
    height: 100%;
}

#sidetd {
    height: 100%;
    background-color: #999999;
}

.sidediv {
    width: 150px;
    height: 100%;
    padding-top: 30px;
}

.maindiv {
    padding-top: 60px;
    padding-left: 40px;
    padding-bottom: 30%;
    padding-right: 40px;
}

.linkdiv {
    text-align: center;
    height: 40px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: "EB Garamond";
    color: #aa6666;
}

.linkdiv:hover {
    color: white;
    background-color: #ff6666;
}

.linkwrapper {
    width: 100%;
    height: 40px;
}

.linkwrapper a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

.hits_div {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    font-size: 24px;
    color: #6666aa;
    background-color: #999999;
    width: 100px;
    height: 40px;
    border-radius: 2px;
    text-align: center;
}

.nav_div {
    margin: 0;
    padding: 0;
    text-align: right;
    padding-bottom: 10px;
    border-bottom: 1px dotted #999999;
}

.nav_link {
    text-decoration: none;
    color: inherit;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
    padding: 0;
    color: #ff6666;
}
.nav_link:hover {
    text-decoration: underline;
}

div.comments_link {
    text-align: center;
    text-decoration: none;
    color: #cc6666;
    font-size: 18px;
    width: 200px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

div.comments_link:hover {
    background-color: #ff6666;
    color: white;
}

a.comments_link {
    text-decoration: none;
    color: inherit;
}

.share_text {
    text-align: center;
    color: #cc6666;
    font-size: 16px;
    margin-bottom: 20px;
}

.divider {
    width: 45%;
    height: 0px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #bbbbbb;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.little_divider {
    width: 5%;
    height: 0px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #9999ff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.maindiv .divider {
    width: 20%;
    border-top: none;
    border-bottom: 1px dotted #9999ff;
}

input[type=submit] {
    margin-top: 20px;
}

.post_div {
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 30px;
}

.title_text, a.title_text {
    font-family: EB "EB Garamond";
    text-decoration: none;
    color: #333366;
    font-size: 30px;
    margin-bottom: 0px;
    text-align: center;
}

.byline_text {
    text-align: center;
    color: #666666;
    margin-top: 0px;
}

.content_text {
    font-family: Lato;
    letter-spacing: 0.2px;
    line-height: 180%;
    font-size: 18px;
    color: #333366;
}

.form_label {
    font-family: EB "EB Garamond";
    text-decoration: none;
    color: #333366;
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
}

.footer {
    width: 100%;
    font-family: "Poiret One";
    font-size: 12px;
    background-color: #888888;
    color: #eeeeee;
    padding: 10px;
    text-align: center;
    clear: both;
    height: 100%;
}

input[type=text], input[type=password] {
    width: 40%;
    height: 30px;
    margin-left: 30%;
    font-family: Lato;
    letter-spacing: 0.2px;
    line-height: 180%;
    font-size: 18px;
    color: #333366;
}

.form_div textarea {
    width: 60%;
    height: 400px;
    margin-left: 20%;
    font-family: Lato;
    letter-spacing: 0.2px;
    line-height: 180%;
    font-size: 18px;
    color: #333366;
}

.form_div input[type=submit] {
    width: 30%;
    height: 35px;
    margin-left: 35%;
    background-color: white;
    border: 1 px solid #666666;
    color: #333366;
    cursor: pointer;
}

.backup_list {
    margin-left: 50px;
    margin-top: 80px;
}

.backup_link {
    text-decoration: none;
    color: #ff6666;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}

.backup_link:hover {
    color: #66aa66;
}